<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:seo_title) ? yield(:seo_title) : current_page.seo_title %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : current_page.description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#314a94" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google_maps_api_key) %>&libraries=places&callback=initMap"></script>
  </head>
  <body class="relative font-promo">
    <%= render 'default/shared/navigation' %>

    <%= yield %>
  </body>
</html>