<div class="max-w-[480px] mx-auto px-8 py-6 bg-stone-400/20">

  <h2 class="text-xl text-center mb-6">Forgot your password? Reset it here</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="my-4">
      <%= f.label :email, "Your email address" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full" %>
    </div>

    <div class="mt-8 mb-4">
      <%= f.submit "Send me reset instructions", class: "btn btn--primary block w-full text-lg" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
