<% month_names = Date::MONTHNAMES %>
<div class="mt-10 text-center lg:col-start-8 lg:col-end-13 lg:row-start-1 lg:mt-9 xl:col-start-9">
  <div class="flex items-center">
    <%= link_to deliveries_path(year: @displayed_date.prev_month.year, month: @displayed_date.prev_month.month, date: @selected_date), class: "-m-1.5 flex flex-none items-center justify-center p-1.5 text-stone-400 hover:text-stone-500" do %>
      <span class="sr-only">Previous month</span>
      <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
      </svg>
    <% end %>
    <div class="flex-auto font-bold"><%= month_names[@displayed_date.month] %></div>
    <%= link_to deliveries_path(year: @displayed_date.next_month.year, month: @displayed_date.next_month.month, date: @selected_date), class: "-m-1.5 flex flex-none items-center justify-center p-1.5 text-stone-400 hover:text-stone-500" do %>
      <span class="sr-only">Next month</span>
      <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    <% end %>
  </div>
  <div class="mt-6 grid grid-cols-7 leading-6 text-stone-500 dark:text-stone-400">
    <div>M</div><div>T</div><div>W</div><div>T</div><div>F</div><div>S</div><div>S</div>
  </div>
  <div class="isolate mt-2 grid grid-cols-7 gap-px bg-stone-200 shadow ring-1 ring-stone-200 dark:bg-stone-800 dark:ring-stone-700">
    <!-- Add padding for days before the start of the month -->
    <% start_day = @displayed_date.wday %>
    <% (start_day == 0 ? 6 : start_day - 1).times do %>
      <div></div>
    <% end %>
    <!-- Date Buttons -->
    <% (1..Time.days_in_month(@displayed_month, @displayed_year)).each do |day| %>
      <% current_date = Date.new(@displayed_year, @displayed_month, day) %>
      <%= link_to deliveries_path(date: current_date), data: { turbo_action: "replace", turbo_frame: "schedule" }, class: "bg-white pt-3.5 pb-1 text-center leading-none tracking-tight no-underline hover:bg-stone-100 focus:z-10 dark:bg-stone-950 dark:hover:bg-stone-900 #{'text-blue-600 font-semibold' if current_date == @selected_date}", role: "button" do %>
        <time datetime="<%= current_date %>" class="h-7 w-7">
          <span class="w-full"><%= day %></span>
          <figure class="mb-1 px-1 flex flex-wrap items-center justify-center gap-[2px] text-[9px] leading-none text-blue-600 font-normal">
            <%= display_dots_for_date(current_date, @deliveries_count_by_date) %>
          </figure>
        </time>
      <% end %>
    <% end %>
  </div>
  <p class="my-6 text-center">
    <%= link_to "Print delivery notes ", delivery_sheets_path(date: @selected_date), data: { turbo_frame: "_top" }, class: 'btn' %>
  </p>
</div>