<li id="<%= dom_id customer %>" class="relative flex justify-between gap-x-6 px-4 py-3 hover:bg-orange-500/10">
  <div class="flex min-w-0 gap-x-4">
    <div class="min-w-0 flex-auto">
      <p class="font-semibold leading-3 lg:text-lg">
        <%= link_to customer, class: "font-bold no-underline" do %>
          <span class="absolute inset-x-0 -top-px bottom-0"></span>
          <%= customer.name %>
        <% end %>
      </p>
      <p class="flex text-sm leading-5">
        <span class="inline-flex items-center gap-x-1 tracking-tight text-stone-500">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
            <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
          </svg>
          <%= customer.town %> <%= customer.postcode %>
        </span>
      </p>
    </div>
  </div>
  <div class="flex shrink-0 items-center gap-x-4">
    <div class="hidden sm:flex sm:flex-col sm:items-end">
      <span>
        <%= pluralize(customer.orders.count, 'order') %>
      </span>
    </div>
    <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
    </svg>
  </div>
</li>