<%= form_with(model: @customer, class: "max-w-screen-sm grid gap-6 grid-cols-1 md:grid-cols-2") do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-input w-full", required: true %>
  </div>
  <div>
    <%= form.label :company_name %>
    <%= form.text_field :company_name, class: "form-input w-full" %>
  </div>
  <div>
    <%= form.label :phone %>
    <%= form.text_field :phone, class: "form-input w-full", required: true %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-input w-full" %>
  </div>
  <div class="col-span-full">
    <%= form.label :delivery_notes %>
    <%= form.text_area :delivery_notes, rows: 4, class: "form-input w-full" %>
  </div>
  <div class="col-span-full p-4 bg-stone-100 dark:bg-stone-950">
    <% if @customer.street_address.present? %>
      <h2 class="text-lg/tight">Current delivery address:</h2>
      <p class="my-2">
        <%= @customer.street_address %>
        <br><%= @customer.town %>, <%= @customer.state %>
        <br><%= @customer.postcode %>
      </p>
    <% else %>
      <p class="mb-3">Please add a delivery address</p>
    <% end %>
    <div data-controller="places">
      <%= form.label "Address finder" %>
      <input data-places-target="autocomplete" type="text" placeholder="Enter address" class="form-input w-full bg-white dark:bg-stone-900">
      <input data-places-target="street" type="hidden" name="customer[street_address]" value="<%= @customer&.street_address %>">
      <input data-places-target="town" type="hidden" name="customer[town]" value="<%= @customer&.town %>">
      <input data-places-target="state" type="hidden" name="customer[state]" value="<%= @customer&.state %>">
      <input data-places-target="postcode" type="hidden" name="customer[postcode]" value="<%= @customer&.postcode %>">
      <input data-places-target="country" type="hidden" name="customer[country]" value="<%= @customer&.country %>">
    </div>
  </div>
  <div class="my-4">
    <%= form.submit 'Save changes', class: "btn btn--primary" %>
  </div>
<% end %>
