<header class="mb-6">
  <h1 class="font-bold text-2xl/tight">Customers</h1>
  <p>Look up customer info, update contact details and review order histories</p>
</header>

<div class="my-6 flex items-center justify-between">
  <%= link_to "Add a new customer", new_customer_path, class: "btn" %>
  <%= form_with url: customers_path, method: :get do |form| %>
    <div class="relative">
      <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
          <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
        </svg>
      </div>
      <%= form.text_field :query, value: params[:query], placeholder: "Search by name...", class: "form-input w-auto py-1.5 pl-10" %>
    </div>
    <%= form.submit "Search", name: nil, class: 'btn sr-only' %>
  <% end %>
</div>

<% if @customers.present? %>
  <ul role="list" class="divide-y divide-stone-500/20 overflow-hidden ring-1 ring-gray-500/20">
    <%= render @customers %>
  </ul>
<% else %>
  <p class="mt-6 pt-2 text-lg border-t border-stone-600/30">
    No customers matched your search. Try another name or
    <%= link_to "Browse the full list", customers_path, class: "text-orange-700" %>.
  </p>
<% end %>
