<header class="mt-8 flex flex-wrap items-center justify-between gap-6">
  <div class="inline-flex items-center gap-4">
    <%= avatar_for(@customer) %>
    <div>
      <h1 class="font-bold text-xl/tight"><%= @customer.name %></h1>
      <p>Customer since <%= local_time_ago(@customer.created_at) %></p>
    </div>
  </div>
  <div class="flex items-center gap-x-3">
    <%= link_to "Edit details", edit_customer_path(@customer), class: "btn" %>
    <%= button_to 'Destroy record', @customer,
          method: :delete,
          class: "btn",
          form: { data: { turbo_confirm: "Are you sure you want to permanently delete the customer and any orders on record?" } }
    %>
  </div>
</header>
<dl class="mt-4 grid grid-cols-1 sm:grid-cols-2 lg:text-lg">
  <div class="border-t border-stone-400/20 px-4 py-6 sm:col-span-1">
    <dt class="font-semibold leading-6 uppercase tracking-tight">Phone</dt>
    <dd class="mt-1 leading-6 sm:mt-2"><%= @customer.phone %></dd>
  </div>
  <div class="border-t border-stone-400/20 px-4 py-6 sm:col-span-1">
    <dt class="font-semibold leading-6 uppercase tracking-tight">Email</dt>
    <dd class="mt-1 leading-6 sm:mt-2">
      <%= mail_to @customer.email %>
    </dd>
  </div>
  <div class="border-t border-stone-400/20 px-4 py-6 sm:col-span-1">
    <dt class="font-semibold leading-6 uppercase tracking-tight">Address</dt>
    <dd class="mt-1 leading-6 sm:mt-2">
      <%= @customer.street_address.titleize %>
      <br><%= @customer.town %>, <%= @customer.state %>
      <br><%= @customer.postcode %>
    </dd>
  </div>
  <div class="border-t border-stone-400/20 px-4 py-6 sm:col-span-1">
    <dt class="font-semibold leading-6 uppercase tracking-tight">Company</dt>
    <dd class="mt-1 leading-6 sm:mt-2">
      <% if @customer.company_name.present? %>
        <%= @customer.company_name %>
      <% else %>
        <em>N/A</em>
      <% end %>
    </dd>
  </div>
  <div class="border-t border-stone-400/20 px-4 py-6 sm:col-span-2">
    <dt class="font-semibold leading-6 uppercase tracking-tight">Notes</dt>
    <dd class="mt-1 leading-6 sm:mt-2">
      <% if @customer.delivery_notes.present? %>
        <%= @customer.delivery_notes %>
      <% else %>
        <em>No notes recorded for this customer</em>
      <% end %>
    </dd>
  </div>
  <div class="border-t border-stone-400/20 px-4 py-6 sm:col-span-2">
    <dt class="font-semibold leading-6 uppercase tracking-tight">History</dt>
    <dd class="mt-4">
      <ul role="list" class="divide-y divide-stone-400/30 border border-stone-400/30">
        <%= render partial: 'orders/order', collection: @customer.orders, as: :order %>
      </ul>
    </dd>
  </div>
</dl>