<% nav_items ||= Spina::Navigation.find_by(name: "main").navigation_items.roots.sorted %>
<footer class="p-8 sm:px-6 md:px-12 lg:px-16 lg:py-10 text-white bg-amber-700">
  <div class="max-w-screen-xl mx-auto grid grid-cols-4 md:gap-12 lg:gap-16">
    <div class="col-span-4 lg:col-span-2">
      <h2 class="my-4 tracking-normal font-bold text-xl">About <%= current_spina_account.name %></h2>
      <%= current_spina_account.content.html(:about) %>
      <div class="mt-4">
        © <%= current_spina_account.name %>
        <span class="mx-1">|</span>
        Website by <%= link_to "Getbusi", 'https://www.getbusi.com?utm_campaign=designedby&utm_content=ftou' %>
      </div>
    </div>
    <div class="col-span-4 md:col-span-2 lg:col-span-1 lg:col-start-3">
      <h2 class="my-4 tracking-normal font-bold text-xl">Links</h2>
      <nav class="space-y-3">
        <% nav_items.each do |item| %>
          <%= link_to item.menu_title, item.materialized_path, class: "block leading-tight text-white underline-offset-2" %>
        <% end %>
        <%= link_to "Order Form", '/orders/new', class: "block leading-tight text-white underline-offset-2" %>
        <%= link_to "Staff", '/deliveries', class: "block leading-tight font-normal text-white underline-offset-2" %>
      </nav>
    </div>
    <div class="col-span-4 md:col-span-2 lg:col-span-1 lg:col-start-4">
      <h2 class="my-4 tracking-normal font-bold text-xl">Contact Info</h2>
      <div class="space-y-1.5 leading-snug">
        <p>
          Phone: <%= link_to current_spina_account.phone, "tel:#{current_spina_account.phone}" %>
        </p>
        <p>
          Email: <%= link_to current_spina_account.email, "mailto:#{current_spina_account.email}" %>
        </p>
        <p>
          Address: <%= current_spina_account.address %>, <%= current_spina_account.city %>, Tasmania <%= current_spina_account.postal_code %>
        </p>
        <p>
          ABN: <%= current_spina_account.content(:abn) %>
        </p>
        <p>
          <a class="mt-4 text-sm/7 text-white flex items-center gap-1 no-underline rounded" href="<%= current_spina_account.content(:facebook) %>" target="_blank">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24"><path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path></svg>
            <span>Get our latest news and offers</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>