<tr id="<%= dom_id order %>">
  <td class="whitespace-nowrap py-4 pl-4 pr-3 sm:pl-0">
    #<%= order.id %>
  </td>
  <td class="whitespace-nowrap px-3 py-4">
    <%= local_date(order.created_at) %>
  </td>
  <td class="whitespace-nowrap px-3 py-4">
    <%= link_to order.customer.name.familiar, customer_path(order.customer) %>
  </td>
  <td class="whitespace-nowrap px-3 py-4">
    <%= number_to_currency(order.total_price, unit: '$') %>
  </td>
  <td class="whitespace-nowrap px-3 py-4">
    <%= pluralize(order.order_items.count, 'product') %>
  </td>
  <td class="whitespace-nowrap px-3 py-4 capitalize">
    <span class="<%= status_color_class(order.status) %>">
      <%= order.status %>
    </span>
    /
    <span class="<%= order.paid ? 'text-green-600' : 'text-red-600' %>">
      <%= order.paid ? 'Paid' : 'Unpaid' %>
    </span>
  </td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right sm:pr-0">
    <%= link_to order, class: "inline-flex items-center gap-x-0.5 leading-none text-orange-700" do %>
      View<span class="sr-only">, Order <%= order.id %></span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    <% end %>
  </td>
</tr>