<header class="mb-6">
  <h1 class="font-bold text-2xl/tight">Orders</h1>
  <p>Browse to any order placed through the online form</p>
</header>


<div class="mb-6 flex flex-wrap items-center gap-4 justify-between">
  <%= link_to "+ New order", new_order_path, class: "btn btn--primary" %>
  <%= turbo_frame_tag 'orders_filters', class: "flex-wrap" do %>
    <%= render 'list_filters' %>
  <% end %>
</div>

<%= turbo_frame_tag 'orders_list' do %>
  <% if @orders.present? %>
    <%= turbo_frame_tag "orders-#{@page.number}" do %>
      <ul role="list" class="overflow-hidden divide-y divide-stone-300 ring-1 ring-stone-300 dark:divide-stone-600 dark:ring-stone-600">
        <%= render @page.records %>
      </ul>
      <%= turbo_frame_tag "orders-#{@page.next_param}" do %>
        <% unless @page.last? %>
          <p class="mt-3 text-stone-700 dark:text-stone-400">
            Showing <%= @page.records.count %> of <%= @orders.count %> records.
            <%= link_to "Load more", orders_path(request.query_parameters.merge(page: @page.next_param)) %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p class="mt-6 pt-2 text-lg border-t border-stone-600/30">
      No orders matched your filters. <%= link_to "Reset filters", orders_path, class: "text-orange-700" %>
    </p>
  <% end %>
<% end %>