<%# app/views/orders/new.html.erb %>

<%# Attributes for Spina CMS page layout %>
<% content_for :seo_title, "Order Form" %>
<% content_for :description, "Place a delivery order from Firewood To U" %>

<div class="container pt-40 pb-8 px-4 md:px-8 max-w-screen-xl mx-auto" id="new-order-form">
  <div id="messages"><%# any errors will be included here %></div>

  <header class="mb-6 lg:text-lg">
    <h1 class="mb-2 text-3xl">Order Form</h1>
    <p>Split firewood is per bucket-load (approx. half a tonne). There is a 2-bucket minimum per order, and a maximum of 8.</p>
  </header>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-y-12 gap-x-20">
    <!-- !Order Items -->
    <fieldset>
      <h2 class="text-xl tracking-normal mb-4">
       <%= badge_tag('1', extra_classes: 'mr-1 sm:mr-2') %> Add products to your order
      </h2>

     <%= turbo_frame_tag 'add-order-item' do %>
       <%= render partial: "order_items/form", locals: { products: @products, order: @order } %>
     <% end %>

      <div class="mt-6 p-6 border border-1 border-stone-600/30">
        <%= render 'items_table', order: @order, order_items: @order_items %>
      </div>

      <div class="mt-4 prose prose-stone prose-sm">
        <p>Delivery fees start at $50 (Rosny and Hobart areas). Further available.</p>
      </div>
    </fieldset>

    <fieldset>
      <!-- !Customer Details -->
      <%= form_with model: @order do |form| %>
        <h2 class="text-xl tracking-normal mb-4">
          <%= badge_tag('2', extra_classes: 'mr-1 sm:mr-2') %> Delivery address
        </h2>
        <div class="my-4 p-6 bg-stone-100 w-full">
           <p class="mb-3">Find your delivery address and then select it from the list</p>
           <div data-controller="places">
             <%= form.label "Address finder" %>
             <input data-places-target="autocomplete" type="text" placeholder="Start typing then select your address..." class="form-input w-full bg-white" required>
             <input data-places-target="street" type="hidden" name="order[street_address]">
             <input data-places-target="town" type="hidden" name="order[town]">
             <input data-places-target="state" type="hidden" name="order[state]">
             <input data-places-target="postcode" type="hidden" name="order[postcode]">
             <input data-places-target="country" type="hidden" name="order[country]">
           </div>
         </div>

        <h2 class="mt-8 text-xl tracking-normal mb-4">
          <%= badge_tag('3', extra_classes: 'mr-1 sm:mr-2') %> Contact info
        </h2>
        <%= form.fields_for :customer do |customer_form| %>
          <div class="mb-6 grid gap-6 grid-cols-1 lg:grid-cols-2">
            <div>
              <%= customer_form.label :name, "First and last name" %>
              <%= customer_form.text_field :name, class: "form-input w-full", required: true %>
            </div>
            <div>
              <%= customer_form.label :company_name, 'Company (optional)' %>
              <%= customer_form.text_field :company_name, class: "form-input w-full" %>
            </div>
            <div>
              <%= customer_form.label :phone, "Phone number" %>
              <%= customer_form.text_field :phone, class: "form-input w-full", required: true %>
            </div>
            <div>
              <%= customer_form.label :email, "Email address" %>
              <%= customer_form.text_field :email, class: "form-input w-full" %>
            </div>
            <div class="col-span-full">
              <%= customer_form.label :delivery_notes %>
              <%= customer_form.text_area :delivery_notes, rows: 4, class: "form-input w-full" %>
            </div>
          </div>
        <% end %>
        <%= form.button "Place this order", type: "submit", class: "no-underline py-2.5 px-5 rounded font-bold bg-amber-700 text-white",
            data: {
              controller: "scroll-to-top",
              action: "click->scroll-to-top#jump",
              turbo_submits_with: "Placing order..."
            }
        %>
      <% end %>
    </fieldset>
  </div>
</div>