<header class="mb-6">
  <h1 class="font-bold text-2xl/tight">Order #<%= @order.id %></h1>
  <p>Received <%= local_time_ago(@order.created_at) %></p>
</header>

<div class="mx-auto grid max-w-2xl grid-cols-1 grid-rows-1 items-start gap-x-8 gap-y-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
  <!-- !Order metadata -->
  <div class="lg:col-start-3 lg:row-end-1">
    <%= render partial: 'order_meta', locals: { order: @order } %>
  </div>

  <!-- !Order Summary -->
  <div class="-mx-4 px-4 py-8 shadow-sm ring-1 ring-stone-400/30 sm:mx-0 sm:px-8 sm:pb-14 lg:col-span-2 lg:row-span-2 lg:row-end-2 xl:px-16 xl:pb-20 xl:pt-16">
    <!-- !Delivery Info -->
    <h2 class="mb-4 text-xl leading-6">Order Summary</h2>
    <% if @order.delivery_date.present? %>
      <p>Scheduled for delivery on <%= local_time(@order.delivery_date) %></p>
    <% end %>
    <dl class="mt-4 grid grid-cols-1 leading-6 sm:grid-cols-2">
      <div class="mt-8 sm:mt-6 sm:border-t sm:border-stone-400/20 sm:pl-4 sm:pt-6">
        <dt class="font-bold uppercase">To</dt>
        <dd class="mt-2">
          <p class="mb-2"><%= @order.customer.name %></p>
          <p class="mb-2">
            <% if @order.customer.company_name %>
              <%= @order.customer.company_name %><br>
            <% end %>
            <%= @order.customer.street_address %><br>
            <%= @order.customer.town %>, <%= @order.customer.state %> <%= @order.customer.postcode %>
          </p>
          <p><%= @order.customer.phone %></p>
        </dd>
      </div>
      <div class="mt-6 border-t border-stone-400/20 pt-6 sm:pr-4">
        <dt class="font-bold uppercase">From</dt>
        <dd class="mt-2">
          <p class="mb-2">Firewood To U</p>
          <p class="mb-2">
            165 Mornington Rd
            <br>
            Mornington, TAS 7018
          </p>
          <p>0467 849 053</p>
        </dd>
      </div>
    </dl>
    <dl class="mt-4 grid grid-cols-1 leading-6">
      <div class="mt-8 sm:mt-6 sm:border-t sm:border-stone-400/20 sm:pl-4 sm:pt-6">
        <dt class="font-bold uppercase">Notes</dt>
        <dd class="mt-2">
          <p>From customer: "<%= @order.customer.delivery_notes %>"</p>
          <p class="mt-2">From FtoU: "<%= @order.notes %>"</p>
        </dd>
      </div>
    </dl>

    <!-- !Order Items -->
    <table class="mt-16 w-full whitespace-nowrap text-left leading-6">
      <colgroup>
        <col class="w-full">
        <col>
        <col>
        <col>
      </colgroup>
      <thead class="border-b border-stone-200">
        <tr>
          <th scope="col" class="px-0 py-3 font-semibold">Items</th>
          <th scope="col" class="hidden py-3 pl-8 pr-0 text-right font-semibold sm:table-cell">Qty</th>
          <th scope="col" class="hidden py-3 pl-8 pr-0 text-right font-semibold sm:table-cell"></th>
          <th scope="col" class="py-3 pl-8 pr-0 text-right font-semibold">Price</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'orders/order_item', collection: @order_items %>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row" class="px-0 pb-0 pt-6 font-normal sm:hidden">Subtotal</th>
          <th scope="row" colspan="3" class="hidden px-0 pb-0 pt-6 text-right font-normal sm:table-cell">Subtotal</th>
          <td class="pb-0 pl-8 pr-0 pt-6 text-right tabular-nums">
            <%= number_to_currency(@order.price, unit: '$') %>
          </td>
        </tr>
        <tr>
          <th scope="row" class="pt-4 font-normal sm:hidden">Delivery fee</th>
          <th scope="row" colspan="3" class="hidden pt-4 text-right font-normal sm:table-cell">Delivery fee</th>
          <td class="pb-0 pl-8 pr-0 pt-4 text-right tabular-nums">
            <%= number_to_currency(@order.delivery_fee, unit: '$') %>
          </td>
        </tr>
        <tr>
          <th scope="row" class="pt-4 font-semibold sm:hidden">Total</th>
          <th scope="row" colspan="3" class="hidden pt-4 text-right font-semibold sm:table-cell">Total</th>
          <td class="pb-0 pl-8 pr-0 pt-4 text-right font-semibold tabular-nums">
            <%= number_to_currency(@order.total_price, unit: '$') %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="lg:col-start-3">
    <!-- Delivery -->

  </div>
</div>
