<%= form_tag order_items_path, method: :post, remote: true, data: { turbo_frame: "order-summary" }, class: "mb-6" do %>
  <% if @order&.persisted? %>
    <%= hidden_field_tag :order_id, @order.id %>
  <% end %>

  <div class="flex flex-wrap gap-3 items-center">
    <%= select_tag :product_id, options_from_collection_for_select(@products, :id, :title), class: "form-input min-w-64 pr-10" %>
    <%= number_field_tag :quantity, 2, min: 2, max: 8, class: "form-input w-[3.5rem]" %>
    <%= submit_tag "Add to order", class: "btn leading-none py-3 px-4" %>
  </div>
<% end %>
