<%# app/views/default/pages/products.html.erb %>
<div class="container min-h-[80svh] pt-40 pb-16 px-4 md:px-8 max-w-screen-xl mx-auto">
  <h1 class="text-2xl mb-6 md:text-3xl lg:text-4xl">
    <%= current_page.title %>
  </h1>

  <div class="prose prose-stone lg:prose-lg max-w-full">
    <%= content.html(:text) %>
  </div>

  <div class="mt-16 grid grid-cols-1 gap-y-10 sm:grid-cols-2 sm:gap-x-8 lg:grid-cols-4 xl:gap-x-10">
    <% content(:available_products).to_a.each do |product| %>
      <div>
        <div class="relative">
          <div class="relative h-72 w-full overflow-hidden rounded-lg">
            <%= image_tag main_app.url_for(product.image), alt: product.title, class: "h-full w-full object-cover object-center" if product.image.attached? %>
          </div>
          <div class="relative mt-2 leading-tight">
            <h2 class="mt-0 mb-1 text-xl/tight tracking-normal"><%= product.title %></h2>
            <div class="text-base"><%= product.description %></div>
          </div>
          <div class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4">
            <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-stone-900 opacity-75"></div>
            <div class="relative my-0 text-xl tracking-tight font-semibold text-white drop-shadow-sm">
              <%= number_to_currency(product.price, unit: '$') %>/<%= product.unit %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>

<%= render 'default/shared/footer' %>