<!DOCTYPE html>
<html>
  <head>
    <title>Firewood to U</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google_maps_api_key) %>&libraries=places&callback=initMap"></script>
  </head>

  <body class="text-stone-950 bg-white dark:text-stone-50 dark:bg-stone-900">
    <div class="container mx-auto max-w-screen-xl min-h-screen p-4">
      <h2 class="text-2xl mb-4">FtoU Online</h2>
      <% if user_signed_in? %>
        <nav class="flex flex-wrap gap-5 justify-between mb-4">
          <div class="flex flex-wrap gap-x-5 gap-y-3">
            <%= link_to "Schedule", deliveries_path, class: "lg:text-lg/none font-bold text-orange-700 underline" %>
            <%= link_to "Orders", orders_path, class: "lg:text-lg/none font-bold text-orange-700 underline" %>
            <%= link_to "Products", products_path, class: "lg:text-lg/none font-bold text-orange-700 underline" %>
            <%= link_to "Customers", customers_path, class: "lg:text-lg/none font-bold text-orange-700 underline" %>
            <%= link_to "Staff", users_path, class: "lg:text-lg/none font-bold text-orange-700 underline" %>
          </div>
          <div class="leading-none text-stone-500">
            Signed in as: <%= current_user.name %>
            |
            <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "underline" %>
          </div>
        </nav>
      <% end %>
      <hr class="my-4 border-b-1 border-stone-400/30" />
      <section id="messages">
        <% flash.each do |type, message| %>
          <% color_class, emoji = case type.to_sym
                                  when :error
                                    ['text-red-700', '❌']
                                  when :notice
                                    ['text-green-700', '✅']
                                  else
                                    ['text-stone-700', 'ℹ️']
                                  end %>
          <%= content_tag :div, raw("#{emoji} #{message}"), class: "italic #{color_class} text-center", role: "alert" %>
        <% end %>
      </section>

      <main class="my-6 sm:px-4">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
